{% extends 'base.html.twig' %}

{% block body %}
    <h1>BankAccount list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Iban</th>
                <th>Bic</th>
                <th>Type</th>
                <th>Currency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bankAccount in bankAccounts %}
            <tr>
                <td><a href="{{ path('bankaccount_show', { 'id': bankAccount.id }) }}">{{ bankAccount.id }}</a></td>
                <td>{{ bankAccount.name }}</td>
                <td>{{ bankAccount.iban }}</td>
                <td>{{ bankAccount.bic }}</td>
                <td>{{ bankAccount.type }}</td>
                <td>{{ bankAccount.currency }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bankaccount_show', { 'id': bankAccount.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bankaccount_edit', { 'id': bankAccount.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('bankaccount_new') }}">Create a new entry</a>
{% endblock %}
