{% extends 'base.html.twig' %}

{% block body %}
    <h1>BankAccount</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bankAccount.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bankAccount.name }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ bankAccount.iban }}</td>
            </tr>
            <tr>
                <th>Bic</th>
                <td>{{ bankAccount.bic }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ bankAccount.type }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ bankAccount.currency }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bankaccount_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bankaccount_edit', { 'id': bankAccount.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
